<header class="bg-light-blue text-white font-archivo">
  <nav class="m-auto flex justify-between items-center min-h-20 w-[90%]">
    <div>
      <a href="/" class="hover:text-lighter-blue font-extrabold text-xl">Transportophile</a>
    </div>
    <div class="flex items-center gap-4">
      <a
        routerLink="/explore"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        class="hover:text-lighter-blue"
        >EXPLORE</a
      >
    </div>
    <div>
      <button
        class="bg-primary-blue text-white px-5 py-2 rounded-full hover:bg-lighter-blue hover:text-black"
      >
        Sign in
      </button>
    </div>
  </nav>
</header>