<footer class="text-white font-archivo">
  <div class="bg-light-blue px-5 h-12 grid grid-cols-[auto_1fr]">
    <div class="flex items-center">
      <a
        href="https://www.linkedin.com/in/philemonphilippin/"
        target="_blank"
        class="font-roboto text-sm hover:text-lighter-blue"
        >PHILIPPIN Philémon 2024</a
      >
    </div>
    <div class="flex items-center justify-center text-sm">
      <button (click)="scrollToTop()" class="hover:text-lighter-blue">
        BACK TO TOP
      </button>
    </div>
  </div>
</footer>
